html {
  background: image-url('bkgd_red_slate.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body { background: none; }

// Typography

p { font-size: 1em; }

@font-face {
  font-family: 'Frankie';
  src: asset-url('Frankie.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'outlined-iconset';
  src: asset-url('outlined-iconset.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.alert {
  border: 2.5px solid white;
}

.alert-danger {
  background-color: $czig-red;
  color: white;
}

.bold { font-weight: bold; }

.czig-font {
  color: black;
  font-family: 'Frankie';

  &.red   { color: $czig-red; }
  &.tan   { color: $czig-tan; }
  &.white { color: white;     }
}

.czig-red { color: $czig-red; }
.czig-tan { color: $czig-tan; }

.center { text-align: center; }
.left   { text-align: left;   }
.right  { text-align: right;  }

.page-content { padding-top: 100px; }
