.footer {
  background: black;
  padding: 25px;

  .company {
    font-size: 30px;

    div { margin-top: 50px; }
  }

  .contacts {
    margin-top: 10px;

    h3 { margin-bottom: 15px; }
    p { line-height: 1.25; }
  }

  .info {
    p { margin-bottom: 0px; }
  }

  .social {
    a {
      margin: 0px 8px -4px 8px;
      padding-top: 10px;

      img { width: 24px; }
    }
  }

  #copyright { margin-top: 10px; }

  #logo {
    display: inherit;
    float: left;
    max-height: 150px;
  }
}

// Mobile Phones
@media screen and (max-width: 500px) {
  .footer {
    .company {
      margin-top: -50px;

      div {
        height: 175px;
        margin-top: 50px;

        div { padding-top: 40px; }
      }
    }

    .contacts { margin-top: 25px; }
  }
}

.subscr-widget {
  background: $czig-red;
}
