@import 'shared/variables';

// Shared page styles.
.page-content {
  .container {
    background: $czig-tan;
    border: 5px solid $czig-red;
    border-radius: 5px;
    margin: 25px auto;
    opacity: .95;
    padding: 30px;
  }
}

.sticky-btns {
  span, span:hover { background: $czig-red; }
}

// Page specific styles.
@import 'controller/pages/about_us';
@import 'controller/pages/beers';
@import 'controller/pages/contact';
@import 'controller/pages/faq';
@import 'controller/pages/home';
@import 'controller/pages/tasting_room';
