@import 'shared/variables';

// Shared page styles.
.page-content {
  .container.content {
    @extend .czig-border;

    background: $czig-tan;
    margin: 25px auto;
    padding: 30px;
  }
}

.czig-border {
  border: 5px solid $czig-red;
  border-radius: 5px;
}

.sticky-btns {
  span, span:hover { background: $czig-red; }
}

// Page specific styles.
@import 'controller/pages/about_us';
@import 'controller/pages/brewery';
@import 'controller/pages/beers';
@import 'controller/pages/contact';
@import 'controller/pages/faq';
@import 'controller/pages/home';
