@import 'shared/variables';

// Shared page styles.
.page-content {
  .container {
    background: $czig-tan;
    border: 5px solid $czig-red;
    border-radius: 5px;
    opacity: .875;
  }
}

// Page specific styles.
@import 'controller/pages/home';
