%header.czig-font{ 'data-offset-top': 150, 'data-stuck': 250 }
  .container
    .row.center#title
      Czigmeister Brewing Co.
    .row
      %nav.menu
        %ul.main
          %li.has-submenu
            %a{ href: '#' } Tab 1
            %ul.submenu
              %li
                %a{ href: '#' } Link 1
              %li
                %a{ href: '#' } Link 2
              %li
                %a{ href: '#' } Link 2
