%header.czig-font{ 'data-offset-top': 150, 'data-stuck': 250 }
  .container
    .row
      .col-md-5.right
        .row Czigmeister
        .row MENU-L
      .col-md-2#logo
        %img{ src: asset_path('logo_mashpaddle_clear.png') }
      .col-md-5.left
        .row Brewing Co.
        .row MENU-R
