%section.subscr-widget
  .container
    .row
      .col-lg-7.col-md-8.col-sm-8
        %h2.czig-font.white Subscribe to Our Newsletter
        = form_tag('//czigmeisterbrewing.us9.list-manage.com/subscribe/post?u=19e4ccfe316b36c3b5ba71e76&amp;id=63bd634d0b', class: 'subscr-form', method: :post, id: 'mc-embedded-subscribe-form', name: 'mc-embedded-subscribe-form', target: '_blank', novalidate: 'novalidate') do
          .form-group
            %div{ style: 'left: -5000px; position: absolute;' }
              %input{ name: 'b_19e4ccfe316b36c3b5ba71e76_63bd634d0b', type: 'text' }
            %div
              %label{ class: 'sr-only', for: 'MCE-email', placeholder: 'Enter Email Address' }
              %input{ class: 'form-control', id: 'MCE-email', name: 'EMAIL', placeholder: 'Enter Email Address', required: 'required', type: 'email', value: '' }
              %button.subscr-next
                %i.icon-arrow-right
      .col-lg-4.col-md-4.col-sm-4.col-lg-offset-1
        %p
          Sign up for our newsletter and be the first to about news and upcoming event dates!
          %br
          %br
          Follow us on social media for more information!

