= form_tag('//czigmeisterbrewing.us9.list-manage.com/subscribe/post?u=19e4ccfe316b36c3b5ba71e76&amp;id=63bd634d0b', method: :post, id: 'mc-embedded-subscribe-form', name: 'mc-embedded-subscribe-form', target: '_blank', novalidate: 'novalidate') do
  .mc_embed_signup_scroll
    %div{ style: 'left: -5000px; position: absolute;' }
      %input{ name: 'b_19e4ccfe316b36c3b5ba71e76_63bd634d0b', type: 'text' }

    %div
      %input{ id: 'MCE-email', name: 'EMAIL', placeholder: 'Subscribe to our mailing list!', required: 'required', type: 'email', value: ''}
      %input{ id: 'mc-embedded-subscribe', name: 'subscribe', value: 'Sign me up!', type: 'submit' }
