.container
  %h1.center.czig-font.red Year Round Beers
  .row.beer
    .col-md-8.col-md-offset-1
      %h3.czig-font The Blacksmith
      %h4.czig-font
        OATMEAL STOUT - 5.5% ABV / 35 IBU
      %h4.czig-font
        EUROPEAN ROASTED MALTS/NORTH AMERICAN OATS/EUROPEAN HOPS/ ENGLISH ALE YEAST
      %p
        This Oatmeal stout has more flavor then you would expect for its lower ABV. Coffee, chocolate and slight smoke flavors come through from the roasted malts. The oatmeal contributes a big body to this malt forward dark brew.
    .col-md-3.center
      = image_tag 'tap_blacksmith.png'

  .row.beer
    .col-md-8.col-md-offset-1
      %h3.czig-font The Falconer
      %h4.czig-font
        AMERICAN PALE ALE - 4.9% ABV / 48 IBU
      %h4.czig-font
        VIENNA MALT BASE/AMERICAN HOPS/GERMAN KOLSCH YEAST
      %p
        This pale ale is more of a session IPA. We bumped up the malt flavor to compensate for the lower ABV. Hop flavor is the focus with Falconers Flight hops being the main aroma in the end. This fruity/citrusy pale ale is brewed with a German Kolsch yeast to round out the malt flavor and promote the hop aromas.
    .col-md-3.center
      = image_tag 'tap_falconer.png'
  .row.beer
    .col-md-8.col-md-offset-1
      %h3.czig-font The Hunstman
      %h4.czig-font
        GERMAN STYLE KOLSCH - 4.8% ABV / 21 IBU
      %h4.czig-font
        GERMAN PILSNER MALTS/GERMAN HOPS/GERMAN KOLSCH YEAST
      %p
        This Kolsch is dry, lean, clean-tasting and crisp. Flavors are subtle, with no traditional beer ingredient dominating the others. A slight grainy flavor can be tasted in the back-end. Hop character (bitterness, flavor, and aroma) ranges from negligible to a dry bitterness from noble hops. The main ingredients are Pilsner malt and German noble hops specifi- cally Hallertauer Hersbrucker. A traditional German Kolsch yeast is used.
    .col-md-3.center
      = image_tag 'tap_huntsman.png'
  .row.beer
    .col-md-8.col-md-offset-1
      %h3.czig-font The Prospector
      %h4.czig-font
        AMBER ALE - 5.2% ABV / 25 IBU
      %h4.czig-font
        ENGLISH CARAMEL MALTS/EUROPEAN HOPS/ENGLISH ALE YEAST
      %p
        Of British origin, this beer has a good balance of malt and hops. Fruity esters and a cara- mel malt backbone are the first things you will notice. Hop bitterness is light and balances out the overall sweetness of this beer. The hops come through with some spicy notes.
    .col-md-3.center
      = image_tag 'tap_prospector.png'
  %h1.center.czig-font.red Seasonal Beers
