.container.content
  %h1.center.czig-font.red Frequently Asked Questions (FAQs)
  .accordion.panel-group#accordion
    - Faq.all.each_with_index do |faq, i|
      .panel
        .panel-heading{ class: (i == 0 ? 'active' : '' ) }
          %a.bold{ 'aria-expanded': (i == 0 ? true : false), 'data-parent': '#accordion', 'data-toggle': 'collapse', href: "#collapse#{i}" }
            %i
            = faq.question
        .collapse{ 'aria-expanded': (i == 0 ? true : false), class: (i == 0 ? 'in' : ''), id: "collapse#{i}" }
          .panel-body
            = faq.answer
