.container#tasting-room
  .row
    %h2.czig-font.red Tasting Room
    = image_tag 'tasting_room_01.jpg', class: 'img-thumbnail right'
    %p
      Our spacious old-world style tasting room has a wide-open feel with full view of the brewery equipment floor where all the brewing happens. The tasting room has community seating to give you that German Beer Hall feeling. We also have standing tables and barrels, great for putting your beer down and mingling. The bar and all the furniture in the tasting room was designed and hand built by us, our family and friends. In our design, we re-purposed as much of the existing black-iron piping, red bricks and wood planks that were original to the building as possible to keep the original feel of our 1920s-era building.
    %p
      While remodeling the building, we even hand scraped the paint off the tasting room walls to expose the charm of the old red bricks. To match that look and feel, we had the bar top made out of 150-year-old reclaimed NJ barn wood and the bricks that adorn the bar were salvaged from the similar era “Bergen Tool” factory building that was recently demolished across the street to build a new CVS store and planned town house development. Even the foot-rail of our bar was made from re-purposed compressed air piping that we disassembled when remodeling our building.
  .row
    %h2.czig-font.red Biergarten
    = image_tag 'tasting_room_02.jpg', class: 'img-thumbnail left'
    %p
      The tasting room walls are decorated with homemade banners that display the logo of each of our core beers. While visiting, take time to step out into our beautiful Biergarten patio where you can take your beer outside and enjoy a beautiful day.
    %p
      Best of all, don’t forget to take a guided tour of the brewery as you contemplate which beers you’d like to sample – awareness of how our beers are made and a discussion about the styles of beer make the experience quite special.  We offer group tours on every hour and as needed to accommodate all our guests.  You may also stroll through the guest-accessible areas of the brewery and give yourself a self-guided tour to see the process that goes into getting that beer in your glass!
    %p
      Please note that we do not have a kitchen and do not serve food.  If you wish to have some food with your beer selection, feel free to bring your own food, whether from home, take-out or order-in from one of the amazing Hackettstown restaurants.  Our goal is to offer an old-world style relaxing and friendly atmosphere where you can sample, learn about, and enjoy your choice selection of our fine beers.
