@import 'shared/variables';

#about-hero {
  height: 500px;

  .bg-image { background-image: image-url('about_us_hero.png'); }

  .content {
    display: table;
    height: 500px;
    width: 100%;
    position: relative;
    z-index: 4;

    .inner {
      display: table-cell;
      padding: 300px 15px 0px 15px;
      vertical-align: middle;

      h1 {
        text-align: center;
        -webkit-text-stroke: 3px black;

        span {
          color: $czig-red;
          -webkit-text-stroke: 2px white;
        }
      }
    }
  }
}

.about .team {
  margin-bottom: 0px;

  .member {
    h4 {
      color: $czig-red;
      font-size: 1em !important;
    }

    h5 { font-size: 0.875em !important; }

    .mask { border: 3px solid $czig-red; }
  }
}

.about.page-content {
  .tabs-widget {
    padding: 0px;

    .nav-tabs {
      border-bottom: 1px solid $czig-red;

      li a {
        color: $czig-red;
        font-weight: bold;

        &:hover {
          background: $czig-red;
          color: white;
          border: 1px solid $czig-red;
        }
      }

      li.active a {
        background: $czig-red;
        border: 1px solid $czig-red;
        color: white;
      }
    }

    .tab-content { padding-bottom: 0px; }
  }
}

@media screen and (max-width: 500px) {
  #about-hero {
    height: 250px;

    .bg-image {
      background-size: cover;
      width: 100%;
    }

    .content {
      height: 250px;

      .inner { padding: 125px 0px 0px 0px; }
    }
  }

  .about.page-content {
    .tabs-widget .nav-tabs {
      li { display: block; }
    }
  }
}
