@import 'shared/variables';

.cont-info-widget {
  font-size: 18px;
}

#contact-form {
  input[type=submit] { background: $czig-red; }

  .form-control {
    background: white;
    border: 1px solid $czig-red;

    &:focus { box-shadow: 0px 0px 0px 1px $czig-red; }
  }
}
