@import 'shared/variables';

// Homepage Styles
section#home-gallery {
  margin-top: 25px;

  .ms-view { @extend .czig-border; }
}

#home-brewery {
  @extend .czig-border;

  margin-left: auto;
  margin-right: auto;
}

.event {
  h3 { margin: 15px 0px 5px 0px; }
}

@media screen and (max-width: 500px) {
  section#home-gallery {
    .ms-view {
      border-left: 0px;
      border-radius: 0px;
      border-right: 0px;
    }
  }
}
