@import 'shared/variables';

// Homepage Styles
section#home-gallery {
  margin-top: 25px;

  .ms-view {
    border: 5px solid $czig-red;
    border-radius: 5px;
  }
}

.event {
  h3 { margin: 15px 0px 5px 0px; }
}
