@import 'shared/variables';

// Homepage Styles
section#home-gallery {
  margin-top: 50px;

  img {
    @extend .czig-border;

    margin-left: 12.5%;
    width: 75%;
  }
}

// section#home-gallery {
//   margin-top: 50px;

//   .ms-view { @extend .czig-border; }
// }

#beer-list {
  text-shadow:
    -1.0px -1.0px 0 white,
     1.0px -1.0px 0 white,
    -1.0px  1.0px 0 white,
     1.0px  1.0px 0 white;
}

#home-beer {
  @extend .czig-border;

  border: 5px solid white;
  margin-top: 25px;
}

#home-brewery {
  @extend .czig-border;

  margin-left: auto;
  margin-right: auto;
}

.posts-widget {
  h3 { margin-bottom: 10px; }

  background: black;

  .container {
    margin: 50px auto;
  }

  .latest-posts {
    background: black;
    padding-top: 24px;
  }

  .latest-posts, .twitter-feed { height: 400px; }

  .tw-bg, .twitter-feed { background: $czig-red; }

  .twitter-feed { padding-top: 24px; }
}

.event {
  h3 { margin: 15px 0px 0px 0px; }
}

@media screen and (max-width: 500px) {
  section#home-gallery {
    .ms-view {
      border-left: 0px;
      border-radius: 0px;
      border-right: 0px;
    }
  }
}
